<header>
    <div class="logo-header">
        <a href="/">
            <img src="/img/Logo.png">
        </a>
    </div>
    <%if (user){ %>
        <a class="btn-logout" href="/auth/logout">Log Out</a>
        <% } else { %>
            <a class="btn-login" href="/auth/login">Log In</a>
            <a class="btn-signup" href="/auth/signup">Sign Up</a>
            <% } %>
</header>
<div class="container">

    <% tempSongs.forEach(song => { %>
        <div class="videoLi">

            <img src="<%= song.snippet.thumbnails.high.url %>">
            <h1>
                <%= song.snippet.title %>
            </h1>
            <form action="/playlist/room/<%= playlistId %>/song/<%= song.id.videoId %>" method="POST">
                <input type="hidden" name="title" value="<%= song.snippet.title %>">
                <input type="hidden" name="thumbnail" value="<%= song.snippet.thumbnails.medium.url %>">
                <input type="submit" id="search-button" value="Add to playlist">
            </form>
        </div>
        <% })%>
</div>