<%= playlistId %>

    <% tempSongs.forEach(song => { %>
        <div class="videoLi">
            <h1>
                <%= song.snippet.title %>
            </h1>
            <img src="<%= song.snippet.thumbnails.high.url %>">
            <form action="/playlist/room/<%= playlistId %>/song/<%= song.id.videoId %>" method="POST">
                <button id="search-button">Add to playlist</button>
            </form>

        </div>
        <% })%>